streamlit==1.34.0
mediapipe==0.10.21

# OpenCV “contrib”, ma SENZA GUI ⇒ niente libGL
opencv-contrib-python-headless==4.11.0.86

numpy
pillow==9.5.0            # evita conflitti con streamlit-canvas
streamlit-drawable-canvas==0.9.3
